:root{
    --bg-pokedex-color:#CD5C5C;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    width: 60%;
    height: 90%;
}
.row{
    height: 100%;
}
.box-p{
    background-color: var(--bg-pokedex-color);
}
.box-2{
    border-radius: 40px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.box-1, .box-3{
    border-radius: 16px;
    padding: 1.8rem;
}
.borde-1{
    text-align: center;
    width: 95%;
    height: 95%;
    box-shadow: 0px -1px 5px 5px rgba(5,4,4,0.56);
    -webkit-box-shadow: 0px -1px 5px 5px rgba(5,4,4,0.56);
    -moz-box-shadow: 0px -1px 5px 5px rgba(5,4,4,0.56);
}
.box-circles{
    width: 100%;
    height: 10%;
    position: relative;
}
.cirle-blue{
    position: absolute;
    left: 0;
    top: 0;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: .2rem solid #fff;
    background-color: aqua;
}
.cirle-green{
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .2rem solid #fff;
    background-color: greenyellow;
}
.green-1{
    left:4rem;
}
.green-2{
    left:7rem;
}
.green-3{
    left:10rem;
}
.box-img{
    width: 100%;
    height: 50%;
    background: rgb(237,238,242);
    background: radial-gradient(circle, rgba(237,238,242,1) 0%, rgba(233,238,240,1) 50%, rgba(210,224,228,1) 83%, rgba(152,211,227,1) 100%);
}
.box-info{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(57, 194, 204);
}
.btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
    border: 2px solid #000;
}
.name{
    width: 50%;
}
img{
    width: 50%;
    height: 60%;
}
.box-type{
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid red;
    height: 20%;
    position: relative;
}
#type-pokemon{
    position: absolute;
    background-color: yellow;
    height: 20%;
    width: 30%;
    border-radius: 8px;
}
@media (max-width:600px){
    .container{
        width: 90%;
    }
    .row{
        height: 50vh;
    }
    .box-1, .box-3{
        border-radius: 16px;
        padding: .8rem;
    }
}
/*s
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}
.pokedex{
    width: 60%;
    height: 90%;
    border: 1px solid red;
    position: relative;
    
}

.box-1{
    width: 50%;
    height: 100%; 
    background-color:var(--bg-pokedex-color) ;
    border-radius: 24px 24px 24px 24px;
    text-align: center;
    padding: 2rem 2rem;
}
.box-2{
    position: absolute;
    bottom:0;
    right: 0;
    width: 50%;
    height: 100%; 
    background-color:var(--bg-pokedex-color) ;
    border-radius: 0 24px 24px 0;
    text-align: center;
    padding: 2rem 2rem;
}